# =====================
# NODE
# =====================
node_modules/

# =====================
# BUILD
# =====================
dist/
build/

# =====================
# ENV
# =====================
.env
.env.*
!.env.example

# =====================
# LOGS
# =====================
*.log

# =====================
# COVERAGE
# =====================
coverage/

# =====================
# OS
# =====================
.DS_Store
Thumbs.db

# =====================
# EDITOR
# =====================
.vscode/
.idea/

# =====================
# TYPESCRIPT
# =====================
*.tsbuildinfo

# =====================
# MISC
# =====================
tmp/
temp/
data/